* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background: #BFD7E4;

    font-family: 'Poppins', sans-serif;
    color: #4E4958;
}

body::before {
    content: '';
    width: 100%;
    height: 465px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background: #293241;
}

.page {
    width: 750px;

    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 107px 0 32px;
}

header h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    font-family: 'Staatliches', cursive;

    color: #fff;
}

header p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;

    margin-bottom: 24px;
}

.info {
    width: 100%;
    height: 133px;

    border-radius: 20px 20px 0px 0px;
    background: #F67669;
}

.info h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    font-family: 'Staatliches', cursive;

    color: #fff;

    padding: 50px 275px;
}

form {
    width: 100%;

    background: #fff;
    border-radius: 0 0 20px 20px;

    padding: 64px;
}

fieldset {
    border: 0;
}

.input-wrapper-col {
    display: flex;

    gap: 22px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.input-wrapper label {
    font-size: 14px;
    line-height: 24px;

    margin-bottom: 8px;
}

.input-wrapper input, .input-wrapper select {
    height: 56px;

    background: #FAFAFC;

    border: 0;border: 1px solid #E6E6F0;
    border-radius: 8px;

    margin-bottom: 31px;
    padding-left: 10px;

    font-family: 'Poppins', sans-serif;
}

.input-wrapper select {
    width: 50%;

    appearance: none;
    -webkit-appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 12px top 50%;
}

fieldset legend {
    font-size: 24px;
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    text-align: center;

    margin-bottom: 32px;
    padding-bottom: 8px;

    border-bottom: 1px solid #E6E6F0;

}

.input-wrapper textarea {
    height: 166px;

    background: #FAFAFC;

    border: 1px solid #E6E6F0;
    border-radius: 8px;

    padding: 8px;

    font-family: 'Poppins', sans-serif;

}

.checkbox-wrapper{
    margin-top: 32px;
}


.checkbox-wrapper label {
    display:flex;
    align-items: center;
    gap: 16px;
  
    margin-bottom: 37px;
  }
  
.checkbox-wrapper input {
    position: absolute;
    top:0;
    left: 0;
    width: 24px;
    height: 24px;
  
    opacity: 0;
  }
  
.checkbox-wrapper label::before {
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
  
    border: 1px solid #E6E6F0;
    border-radius: 8px;
  }
  
.checkbox-wrapper input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00016 16.1698L4.83016 11.9998L3.41016 13.4098L9.00016 18.9998L21.0002 6.99984L19.5902 5.58984L9.00016 16.1698Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
}
  
.checkbox-wrapper input:focus + label::before {
    outline: 2px solid black;
}

.col {
    display: flex;
    gap: 32px;

    margin-top: 31px;
}

.col > div:nth-child(1) {
    width: 50%;
}

.col-1 {
    display: flex;
    width: 50%;
    gap: 10px;
}

#submit {
    width: 100%;
    height: 51px;

    font-family: 'Staatliches', cursive;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;

    margin-top: 30px;

    background: #F67669;
    color: #fff;

    border: 0;
    border-radius: 8px;

    cursor: pointer;
}

#submit:hover {
    background: #e7301b;
}
